.editor {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: inherit;
  .textarea {
    width: 100%;
    height: calc(100% - 130px);
    padding: 6px;
    border: none;
    outline: none;
    box-sizing: border-box;
    &:focus {
      outline: 1px solid #2196f3;
    }
  }
  .cancel-edit {
    position: absolute;
    right: 10px;
    top: 30px;
  }
  .undo {
    position: absolute;
    right: 10px;
    bottom: 30px;
  }
}