.md-toolbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  white-space: nowrap;
  background: #fff;
  .tool-item {
    display: inline-block;
    padding: 18px 10px;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
